{% extends "base.html" %}
{%load static%}
{% block title %}
Login Here
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{%endblock%}

{% block content %}

<section class="sign-in">
	<div class="container">
		<div class="signin-content">
			<div class="signin-image">
				<figure><img src="{% static 'images/signin-image.jpg' %}" alt="sing up image"></figure>
				<a href="/register/" class="signup-image-link">Create an account</a>
			</div>

			<div class="signin-form">
				<h2 class="form-title">Sign in</h2>
				<form method="POST" class="register-form" id="login-form">
	                {% csrf_token %}
					{{ form.non_field_errors }}
					<div class="form-group">
						{{ form.username.errors }}
						<label for="{{ form.username.id_for_label }}"><i class="zmdi zmdi-account material-icons-name"></i></label>
						{{ form.username }}
					</div>
					<div class="form-group">
						{{ form.password.errors }}
						<label for="{{ form.username.id_for_label }}"><i class="zmdi zmdi-lock"></i></label>
						{{ form.password }}
					</div>
					<div class="form-group form-button">
						<input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
					</div>
				</form>
				<div class="social-login">
					<span class="social-label">Or login with</span>
					<ul class="socials">
						<li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
						<li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
						<li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block javascr%}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{%endblock%}

{%block footer%}
<div class="container mt-5 p-4">
<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Developed by <kbd>Ankit Maurya</kbd></h5>
        <p class="card-text text-center"><a href="https://maurya-ankit.github.io/">https://maurya-ankit.github.io/</a></p>
      </div>
    </div>
  </div>
</div>
</div>
{%endblock%} 