{% extends 'base.html' %}

{% block content %}
<div class="table-responsive">
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Original url</th>
      <th scope="col">Short url</th>
    </tr>
  </thead>
  <tbody>
  {%for object in query%}
    <tr>
      <td>{{object.uri }}</td>
      <td><a href="/{{object.shorturi}}">{{object.shorturi}}</a></td>
    </tr>
  {%endfor%}
  </tbody>
</table>
<a href="{% url 'home:short'%}" class="btn btn-primary btn-lg btn-block">Short your long URL here</a>
</div>
 {% endblock %}