{% extends 'base.html' %}

{% block content %}
<a href="{% url 'home:short'%}" class="btn btn-primary btn-lg btn-block mb-4">Short your long URL here</a>

<div class="table-responsive ">

    <table class="table table-striped borderless">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Original url</th>
      <th scope="col">Short url</th>
      {% if user.is_authenticated %}
      <th scope="col">Visits</th>
      {%endif%}
    </tr>
  </thead>
  <tbody>
  {%for object in query%}
    <tr>
      <td>{{object.uri }}</td>
      {% if user.is_authenticated %}
      <td><a href="{{user}}/{{object.shorturi}}">{{object.shorturi}}</a></td>

      {%else%}
      <td><a href="/{{object.shorturi}}">{{object.shorturi}}</a></td>
      {%endif%}
      {% if user.is_authenticated %}
      <td>{{object.count}}</td>
      {%endif%}
    </tr>
  {%endfor%}
  </tbody>
</table>
      {% if user.is_authenticated %}
      *Visits column in this table shows only number of <b>visits through short url</b> only
      {%endif%}
</div>
 {% endblock %}